<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

    <div class="container-fluid">
        <div class="row no-gutters">
            <% players.forEach(function(player){ %>
            <div class="col-sm">
                <div class="list-group">
                    <div class="list-group-item active">
                        <%= player.displayName %>
                    </div>
                    <div class="list-group-item character-list-item" style="background-image: url(<%= player.characters[0].info.emblemBackgroundImage %>);">
                        <span class="character-description"><%= player.characters[0].info.classType %> <%= player.characters[0].info.gender %> <%= player.characters[0].info.race %>
                        <%= player.characters[0].stats.lightLevel %> 
                        </span>
                    </div>
                    <% player.characters[0].quests.exotic.forEach(function(quest){ %>
                    <div class="list-group-item list-group-item<% if (quest.active) { %>-success<% } else { %>-default disabled<% } %>">
                        <img class="item-image" src="<%= quest.icon_image %>" />
                        <span><%= quest.name %></span>
                    </div>
                    <% }); %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer.ejs %>